.login-box{
    width: 400px;
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 252, 252);
    border-radius: 10px;
}

.signup-box{
    width: 400px;
    height: 650px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    
}

body{
    justify-content: center;
    top: 50%;
    bottom: 50%;
    margin-top: 50px;
    display: flex;
    background-color:rgb(231, 246, 241) ;
}
label{
    font-weight: bold;
    font-size: large;
}
input{
    width: 350px;
    height: 35px;

}

select{
    width: 350px;
    height: 25px;
}

button{
    width: 350px;
    height: 30px;
    background-color: rgb(236, 62, 62);

}
pre{
    font-size: large;
}

a{
    text-decoration:none ;

}